﻿/*site ici*/
body{ font-family: Arial; background-color: #fff; color: #444; text-decoration: none; word-spacing: normal; text-align: left; letter-spacing: 0; line-height: 1.7em; font-size: 12px; }
h1{font-family: 'Georgia'; font-size: 18px; font-style: italic; line-height: 27px;}

.left{float: left; width: 50%; margin-top: 5px;}
.right{float: right; width: 50%; text-align: right; margin-top: 5px;}
.comment {margin-top: 420px;}
.content{ width:960px; margin-left:auto; margin-right:auto; }
.logo{width:180px; margin-left:auto; margin-right:auto; padding-top:40px;}
#fb-root{margin-top:20px;}
.icerik{float:left; margin-top:60px; position: absolute;}
.karakter{ font-size:42px; line-height:50px; position:absolute; }
.karakter_pozisyon1 {left:360px; top:300px;}
.karakter_pozisyon2 {left:420px; top:360px;}
.sira{ font-size:36px; line-height:50px; position:absolute; left:300px; top:440px;}
/*konusma diyaloglari*/
.konusma_left { font-size: 12px; line-height: 18px; padding-top:34px; padding-left:10px; padding-right:10px; width:160px; height: 140px; position:absolute; background: url('../images/konusma_left.png') no-repeat transparent;  text-align: center; display: none; }
.konusma_right { font-size: 12px; line-height: 18px; padding-top:34px; padding-left:10px; padding-right:10px; width:160px; height: 96px; position:absolute; background: url('../images/konusma_right.png') no-repeat transparent; text-align: center; display: none; }
.konusma_right a {color:#e20a16;}
.ucsatir {padding-top:24px;height: 150px;}
.konusma_pozisyon1 {left:10px; top:60px;}
.konusma_pozisyon2 {left:110px; top:130px; z-index: 1;}
.konusma_pozisyon3 {left:210px; top:200px; z-index: 2;}
.konusma_pozisyon4 {left:300px; top:240px; z-index: 1;}
.konusma_pozisyon5 {left:480px; top:300px; z-index: 2;}
.konusma_pozisyon6 {left:740px; top:320px; z-index: 2;}
.site_icerik {position:absolute; }
/*yazilar*/
.yazi{width:300px; position: absolute; text-align: justify;}
.yazi_pozisyon1 { left:640px; top:180px; }
.yazi_pozisyon2 { left:640px; top:0; }
/*resimler*/
.resim{width:300px; position: absolute; left:300px; top:30px;}
.resim_pozisyon1{ height:180px;  background: url('../images/ego.png') no-repeat transparent;}
.resim_pozisyon2{ height:180px;  background: url('../images/suru.png') no-repeat transparent;}
.resim_pozisyon3{ height:180px;  background: url('../images/belge.png') no-repeat transparent;}
.resim_pozisyon4{ height:180px;  background: url('../images/ekmek.png') no-repeat transparent;}
.resim_pozisyon5{ height:180px;  background: url('../images/ozgurluk.png') no-repeat transparent;}
/*Menu*/

ul.mainmenu{ list-style-type:none; margin-top:60px; width:940px; padding-left:10px; display: none; }
ul.mainmenu li{ float:left; }
ul.mainmenu li a{ font-size:30px; font-weight:400; color:#111; font-family: 'Rationale', sans-serif; }
ul.mainmenu li a:hover, ul.mainmenu li a.selected{color:#e20a16;}
ul.mainmenu li.menubosluk { font-size:34px; line-height:38px; margin-top:-10px; padding:0 19px; }

/*sub menu*/
ul.submenu{ list-style-type:none; margin-top:60px; padding:0 10px; float:left; width:240px; }
ul.submenu li{ padding-bottom:4px; }
ul.submenu li a{ color:#111; }
ul.submenu li span.saat{ width:40px; display:inline-block; padding-right:10px; font-weight:400; font-family: 'Rationale', sans-serif; font-size:14px; }
ul.submenu li span.menuyazi{ font-size: 11px; }
ul.submenu li a span.saat{ font-size:20px; }
ul.submenu li a span.menuyazi{font-family: 'Georgia';  font-style: italic; font-size:20px;  }
ul.submenu li a:hover, ul.submenu li a.selected{color:#e20a16;}
ul.submenu li.eski span { text-decoration:line-through; color:#999; }
ul.submenu li.aramesaj span { color:#999; }

/*Tooltip*/
.tipsy { font-size: 16px; line-height: 30px; font-family: 'Georgia'; font-style: italic; position: absolute; padding: 5px; z-index: 100000; }
.tipsy-inner { background-color: #000; color: #FFF; max-width: 200px; padding: 5px 8px 4px 8px; text-align: center; }
.tipsy-inner { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
.tipsy-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed #000; }
.tipsy-arrow-n { border-bottom-color: #000; }
.tipsy-arrow-s { border-top-color: #000; }
.tipsy-arrow-e { border-left-color: #000; }
.tipsy-arrow-w { border-right-color: #000; }
.tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
.tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
.tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
.tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
.tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
.tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
.tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
.tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }

/*text slider*/
.mesaj{margin:0 auto; width:960px; position:relative; margin-top:30px; font-size:20px; line-height: 44px; color:#111; font-family: 'Georgia';  font-style: italic;}
.mesaj ul, .mesaj li{ margin:0; padding:0; list-style:none; }
.mesaj li{ width:940px; height:50px; overflow:hidden; text-align:center;}

/*facebook hack*/
#fb-wrapper-mine { position:relative; padding:0; margin:0; margin-bottom: 60px; }
#fb-masker { display:block; padding:0; margin:0; position:absolute; bottom:0; width:940px; height:24px; background-color:#FFF; z-index:1000; font-size: 10px; }